# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

/Chapter2/Debug
/Chapter2/ipch
/Chapter2/Chapter2/Debug
/Chapter2/Chapter2.opensdf
/SpriteText/ipch
/SpriteText/Debug
/SpriteText/SpriteText/Debug
/Learnings/SpriteText/ipch
/Learnings/SpriteText/Debug
/Learnings/SpriteText/SpriteText/Debug
/Learnings/Chapter2/ipch
/Learnings/Chapter2/Debug
/Learnings/Chapter2/Chapter2/Debug
/Learnings/InputDemo/InputDemo/Debug
/Learnings/InputDemo/ipch
/Learnings/InputDemo/Debug
/SaberCore/ipch
/SaberCore/Debug
/SaberCore/SaberCore/Debug